<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.common.WfCurrentstepDao">
    <resultMap id="WfCurrentstepResultMap" type="com.gwssi.eoms.model.domain.produce.common.WfCurrentstep">
        <id column="id" property="id" jdbcType="DOUBLE"/>
        <result column="entry_id" property="entry_id" jdbcType="DOUBLE"/>
        <result column="step_id" property="step_id" jdbcType="VARCHAR"/>
        <result column="action_id" property="action_id" jdbcType="VARCHAR"/>
        <result column="owner" property="owner" jdbcType="VARCHAR"/>
        <result column="start_date" property="start_date" jdbcType="VARCHAR"/>
        <result column="finish_date" property="finish_date" jdbcType="VARCHAR"/>
        <result column="due_date" property="due_date" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="caller" property="caller" jdbcType="VARCHAR"/>
        <result column="previous_id" property="previous_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByRequestID" resultMap="WfCurrentstepResultMap" parameterType="java.lang.String">
        SELECT ID, ENTRY_ID, STEP_ID, ACTION_ID, OWNER, START_DATE, FINISH_DATE, DUE_DATE, STATUS, CALLER, PREVIOUS_ID
          FROM WF_CURRENTSTEP P
         WHERE P.ENTRY_ID IN
               (SELECT Y.ID FROM WF_WFENTRY Y WHERE Y.MAIN_ID = #{requestID}
        )
    </select>

    <delete id="deleteByRequestIdListAndName">
        DELETE FROM WF_CURRENTSTEP P
         WHERE P.ENTRY_ID IN
               (SELECT Y.ID FROM WF_WFENTRY Y WHERE Y.NAME = #{name} AND Y.MAIN_ID IN
                <foreach collection="list" item="requestID" index="index" open="(" separator="," close=")">
                    #{requestID}
                </foreach>
                )
    </delete>

    <insert id="insertByRequestIdListAndName">
        INSERT INTO WF_CURRENTSTEP
        SELECT SEQ_WF_CURRENTSTEPS.NEXTVAL,
        B.ID,
        #{step_id},
        '',
        '自动',
        '29-12月 -16 11.02.32.879000 上午',
        '',
        '',
        #{status},
        '',
        ''
        FROM WF_WFENTRY B
        WHERE B.NAME = #{name}
        AND B.MAIN_ID IN
        <foreach collection="list" item="shenqingh" index="index" open="(" separator="," close=")">
            #{shenqingh}
        </foreach>
    </insert>

    <update id="updateStepIDAndStatusByRequestAndName" parameterType="java.lang.String">
        UPDATE WF_CURRENTSTEP A
           SET A.STEP_ID = #{stepID}, A.STATUS = #{status}
         WHERE A.ENTRY_ID IN (SELECT Y.ID
                                FROM WF_WFENTRY Y
                               WHERE Y.MAIN_ID = #{requestID}
                                 AND Y.NAME = #{name})
    </update>

</mapper>