<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.common.WfWfentryDao">
    <resultMap id="WfWfentryResultMap" type="com.gwssi.eoms.model.domain.produce.common.WfWfentry">
        <id column="id" property="id" jdbcType="DOUBLE"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="DOUBLE"/>
        <result column="parent_id" property="parent_id" jdbcType="DOUBLE"/>
        <result column="sub_workflow_id" property="sub_workflow_id" jdbcType="VARCHAR"/>
        <result column="instance_id" property="instance_id" jdbcType="DOUBLE"/>
        <result column="main_id" property="main_id" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByRequestID" resultMap="WfWfentryResultMap" parameterType="java.lang.String">
        SELECT *
        FROM FA_BZGG_BFZSB
        WHERE SHENQINGH = #{requestID}
    </select>

    <delete id="deleteByRequestIdListAndName">
        DELETE FROM WF_WFENTRY Y
         WHERE Y.NAME = #{name}
           AND Y.MAIN_ID IN
           <foreach collection="list" item="shenqingh" index="index" open="(" separator="," close=")">
               #{shenqingh}
           </foreach>
    </delete>
    
    <insert id="insertByRequestIdListAndName">
        INSERT INTO WF_WFENTRY
          SELECT SEQ_WF_WFENTRY.NEXTVAL,
                 #{name},
                 '1',
                 '',
                 '',
                 B.INSTANCE_ID,
                 B.MAIN_ID
            FROM WF_WFENTRY B
           WHERE B.NAME = '00'
             AND B.STATE = '1'
             AND B.MAIN_ID IN
             <foreach collection="list" item="shenqingh" index="index" open="(" separator="," close=")">
                 #{shenqingh}
             </foreach>
    </insert>

</mapper>