<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gongbu.FaFmgkJdbDao">
    <resultMap id="FaFmgkJdbResultMap" type="com.gwssi.eoms.model.domain.produce.gongbu.FaFmgkJdb">
        <id column="fa_fmgk_jdb_id" property="fa_fmgk_jdb_id" jdbcType="DOUBLE"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="jiaoduijl" property="jiaoduijl" jdbcType="VARCHAR"/>
        <result column="jiaoduijlms" property="jiaoduijlms" jdbcType="VARCHAR"/>
        <result column="jinrujdsj" property="jinrujdsj" jdbcType="VARCHAR"/>
        <result column="jiaoduikssj" property="jiaoduikssj" jdbcType="VARCHAR"/>
        <result column="jiaoduijssj" property="jiaoduijssj" jdbcType="VARCHAR"/>
        <result column="jiaoduiwcsj" property="jiaoduiwcsj" jdbcType="VARCHAR"/>
        <result column="renlingr" property="renlingr" jdbcType="VARCHAR"/>
        <result column="renlingrcsdm" property="renlingrcsdm" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByRequestID" resultMap="FaFmgkJdbResultMap" parameterType="java.lang.String">
        SELECT FA_FMGK_JDB_ID, SHENQINGH, JIAODUIJL, JIAODUIJLMS, JINRUJDSJ, JIAODUIKSSJ, JIAODUIJSSJ, JIAODUIWCSJ,
               RENLINGR, RENLINGRCSDM, REGNAME, REGTIME, MODNAME, MODTIME
          FROM FA_FMGK_JDB
         WHERE SHENQINGH = #{requestID}
    </select>

    <delete id="deleteByRequestID" parameterType="java.lang.String">
        DELETE FROM FA_FMGK_JDB WHERE SHENQINGH = #{requestID}
    </delete>

    <update id="updateConclusionByRequestID" parameterType="java.lang.String">
        UPDATE FA_FMGK_JDB JD SET JD.JIAODUIJL = #{conclusion} WHERE JD.SHENQINGH = #{requestID}
    </update>

    <insert id="insertOneFrom_FAFMGKJDBLS_ByRequestID" parameterType="java.lang.String">
        INSERT INTO FA_FMGK_JDB
          SELECT FA_FMGK_JDB_SEQ.NEXTVAL,
                 A3.SHENQINGH,
                 A3.JIAODUIJL,
                 A3.JIAODUIJLMS,
                 A3.JINRUJDSJ,
                 A3.JIAODUIKSSJ,
                 A3.JIAODUIJSSJ,
                 '',
                 A3.RENLINGR,
                 A3.RENLINGRCSDM,
                 A3.REGNAME,
                 A3.REGTIME,
                 A3.MODNAME,
                 A3.MODTIME
            FROM FA_FMGK_JDB_LS A3
           WHERE A3.SHENQINGH = #{requestID}
    </insert>

</mapper>