<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gongbu.FaFmgkGkajztjkDao">
    <resultMap id="FaFmgkGkajztjkResultMap" type="com.gwssi.eoms.model.domain.produce.gongbu.FaFmgkGkajztjk">
        <id column="fa_fmgk_ggajztjk_id" property="fa_fmgk_ggajztjk_id" jdbcType="DOUBLE"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="shenqingr" property="shenqingr" jdbcType="VARCHAR"/>
        <result column="daoqir" property="daoqir" jdbcType="VARCHAR"/>
        <result column="pctbj" property="pctbj" jdbcType="VARCHAR"/>
        <result column="zuixiaoyxqr" property="zuixiaoyxqr" jdbcType="VARCHAR"/>
        <result column="tiqiangksxr" property="tiqiangksxr" jdbcType="VARCHAR"/>
        <result column="canshenhgfwr" property="canshenhgfwr" jdbcType="VARCHAR"/>
        <result column="gonggaozt" property="gonggaozt" jdbcType="VARCHAR"/>
        <result column="yuguggr" property="yuguggr" jdbcType="VARCHAR"/>
        <result column="gonggaor" property="gonggaor" jdbcType="VARCHAR"/>
        <result column="zhufenleih" property="zhufenleih" jdbcType="VARCHAR"/>
        <result column="jinrujycsj" property="jinrujycsj" jdbcType="VARCHAR"/>
        <result column="jiaoyanwcsj" property="jiaoyanwcsj" jdbcType="VARCHAR"/>
        <result column="jiaoyanwcbj" property="jiaoyanwcbj" jdbcType="VARCHAR"/>
        <result column="jinruggcsj" property="jinruggcsj" jdbcType="VARCHAR"/>
        <result column="gonggaowcsj" property="gonggaowcsj" jdbcType="VARCHAR"/>
        <result column="gonggaowcbj" property="gonggaowcbj" jdbcType="VARCHAR"/>
        <result column="fenleiwcsj" property="fenleiwcsj" jdbcType="VARCHAR"/>
        <result column="fenleiwcbj" property="fenleiwcbj" jdbcType="VARCHAR"/>
        <result column="chushenyxm" property="chushenyxm" jdbcType="VARCHAR"/>
        <result column="chushenybm" property="chushenybm" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByRequestID" resultMap="FaFmgkGkajztjkResultMap" parameterType="java.lang.String">
        SELECT FA_FMGK_GGAJZTJK_ID, SHENQINGH, SHENQINGR, DAOQIR, PCTBJ, ZUIXIAOYXQR, TIQIANGKSXR, CANSHENHGFWR,
               GONGGAOZT, YUGUGGR, GONGGAOR, ZHUFENLEIH, JINRUJYCSJ, JIAOYANWCSJ, JIAOYANWCBJ, JINRUGGCSJ, GONGGAOWCSJ,
               GONGGAOWCBJ, FENLEIWCSJ, FENLEIWCBJ, CHUSHENYXM, CHUSHENYBM, REGNAME, REGTIME, MODNAME, MODTIME
          FROM FA_FMGK_GKAJZTJK
         WHERE SHENQINGH = #{requestID}
    </select>

    <update id="updateStatusAndPubDateByRequestID" parameterType="java.lang.String">
        UPDATE FA_FMGK_GKAJZTJK JK
           SET JK.GONGGAOZT = #{status}, JK.GONGGAOR = #{pubDate}
         WHERE JK.SHENQINGH = #{requestID}
    </update>

    <select id="getWaitPublishIsNullCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
          FROM FA_FMGK_GKAJZTJK JK, GG_ZLX_ZHU U
         WHERE JK.GONGGAOZT = '20'
           AND U.SHENQINGH = JK.SHENQINGH
           AND SUBSTR(U.ANJIANYWZT, 1, 4) NOT IN
           ('S110', '1791', 'S050', '1302', '9101')
           AND U.ANJIANYWZT &lt;&gt; '其他失效'
           AND U.YOUXIAOBJ = '0'
           AND U.ZHONGZHIBJ = '0'
           AND U.ZANTINGBJ = '0'
           AND U.GUAQIBJ = '0'
           AND U.SUODINGBJ = '0'
           AND NOT EXISTS
           (SELECT 1 FROM FA_FMGK_DGGAJB B WHERE B.SHENQINGH = JK.SHENQINGH)
    </select>

    <select id="getOnlyAdvanceMarkCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
          FROM GG_ZLX_ZHU U
         WHERE SUBSTR(U.ANJIANYWZT, 0, 4) NOT IN
               ('S110', '1791', 'S050', '1302', '9101')
               AND U.ANJIANYWZT &lt;&gt; '其他失效'
               AND U.YOUXIAOBJ = '0'
               AND U.ZHONGZHIBJ = '0'
               AND U.ZANTINGBJ = '0'
               AND U.GUAQIBJ = '0'
               AND U.SUODINGBJ = '0'
               AND U.TIQIANGKBJ = '1'
               AND U.TIQIANGKR IS NULL
               AND EXISTS
               (SELECT 1 FROM FA_FMGK_GKAJZTJK JK WHERE JK.SHENQINGH = U.SHENQINGH)
    </select>

    <select id="getBookConcernHavePubDataCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
          FROM T_PUB_LIST@TO_CHUBANSHE T
         WHERE T.PUBTYPE = 'FMGB'
           AND NOT EXISTS (SELECT 1
                             FROM FA_FMGK_GKAJZTJK JK
                            WHERE JK.SHENQINGH = T.AN
                              AND JK.GONGGAOZT IN ('10', '15'))
    </select>

    <select id="getAdvanceDatePassedCount" resultType="java.lang.Integer">
        SELECT COUNT(1)
          FROM GG_ZLX_ZHU U, FA_FMGK_GKAJZTJK JK
         WHERE JK.SHENQINGH = U.SHENQINGH
           AND JK.GONGGAOZT IN ('8', '9', '11')
           AND SUBSTR(U.ANJIANYWZT, 0, 4) NOT IN
               ('S110', '1791', 'S050', '1302', '9101')
           AND U.ANJIANYWZT &lt;&gt; '其他失效'
           AND U.YOUXIAOBJ = '0'
           AND U.ZHONGZHIBJ = '0'
           AND U.ZANTINGBJ = '0'
           AND U.GUAQIBJ = '0'
           AND U.SUODINGBJ = '0'
           AND U.TIQIANGKBJ = '1'
           AND U.TIQIANGKR &lt; TO_CHAR(SYSDATE, 'YYYYMMDD')
           AND NOT EXISTS
           (SELECT 1 FROM FA_FMGK_GKQRB QR WHERE QR.SHENQINGH = U.SHENQINGH)
    </select>

</mapper>