<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gongbu.FaFmgkGktdbDao">
    <resultMap id="FaFmgkGktdbResultMap" type="com.gwssi.eoms.model.domain.produce.gongbu.FaFmgkGktdb">
        <id column="fa_fmgk_gktdb_id" property="fa_fmgk_gktdb_id" jdbcType="DOUBLE"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="juanqih" property="juanqih" jdbcType="VARCHAR"/>
        <result column="gongkair" property="gongkair" jdbcType="VARCHAR"/>
        <result column="gongkaitdr" property="gongkaitdr" jdbcType="VARCHAR"/>
        <result column="daoqir" property="daoqir" jdbcType="VARCHAR"/>
        <result column="gongkailxbm" property="gongkailxbm" jdbcType="VARCHAR"/>
        <result column="jiaoduizt" property="jiaoduizt" jdbcType="VARCHAR"/>
        <result column="fenleiwcbj" property="fenleiwcbj" jdbcType="VARCHAR"/>
        <result column="shifouwtaj" property="shifouwtaj" jdbcType="VARCHAR"/>
        <result column="zhuanzhengc" property="zhuanzhengc" jdbcType="VARCHAR"/>
        <result column="tidangczy" property="tidangczy" jdbcType="VARCHAR"/>
        <result column="caozuosj" property="caozuosj" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
        <result column="querenzt" property="querenzt" jdbcType="VARCHAR"/>
        <result column="gonggaozt" property="gonggaozt" jdbcType="VARCHAR"/>
        <result column="shujutqbj" property="shujutqbj" jdbcType="VARCHAR"/>
        <result column="shujutqsj" property="shujutqsj" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByShenqingh" resultMap="FaFmgkGktdbResultMap" parameterType="java.lang.String">
        SELECT *
        FROM FA_FMGK_GKTDB
        WHERE SHENQINGH = #{shenqingh}
    </select>

</mapper>