<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一元化运维平台</title>
    <link rel="stylesheet" href="../static/element-ui/css/index.css">
</head>
<body>
<div id="app">
    {{ message }}
</div>

</body>

<script src="../static/vue/vue.v2.5.1.js"></script>
<script src="../static/vue/vue-router.js"></script>
<script src="../static/element-ui/js/index.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>
</html>