<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gonggao.FaBzggGgajztjkDao">
    <resultMap id="FaBzggGgajztjkResultMap" type="com.gwssi.eoms.model.domain.produce.gonggao.FaBzggGgajztjk">
        <id column="fa_bzgg_ggajztjk_id" property="fa_bzgg_ggajztjk_id" jdbcType="VARCHAR"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="zhuanlilx" property="zhuanlilx" jdbcType="VARCHAR"/>
        <result column="shenqingr" property="shenqingr" jdbcType="VARCHAR"/>
        <result column="gonggaozt" property="gonggaozt" jdbcType="VARCHAR"/>
        <result column="yuguggr" property="yuguggr" jdbcType="VARCHAR"/>
        <result column="gonggaor" property="gonggaor" jdbcType="VARCHAR"/>
        <result column="zhufenleih" property="zhufenleih" jdbcType="VARCHAR"/>
        <result column="bandengfwr" property="bandengfwr" jdbcType="VARCHAR"/>
        <result column="jinrujycsj" property="jinrujycsj" jdbcType="VARCHAR"/>
        <result column="jiaoyanwcsj" property="jiaoyanwcsj" jdbcType="VARCHAR"/>
        <result column="jiaoyanwcbj" property="jiaoyanwcbj" jdbcType="VARCHAR"/>
        <result column="jinruggcsj" property="jinruggcsj" jdbcType="VARCHAR"/>
        <result column="gonggaowcsj" property="gonggaowcsj" jdbcType="VARCHAR"/>
        <result column="gonggaowcbj" property="gonggaowcbj" jdbcType="VARCHAR"/>
        <result column="fenleiwcsj" property="fenleiwcsj" jdbcType="VARCHAR"/>
        <result column="fenleiwcbj" property="fenleiwcbj" jdbcType="VARCHAR"/>
        <result column="niandengyfjnr" property="niandengyfjnr" jdbcType="VARCHAR"/>
        <result column="shifangtzsfwr" property="shifangtzsfwr" jdbcType="VARCHAR"/>
        <result column="chushenyxm" property="chushenyxm" jdbcType="VARCHAR"/>
        <result column="shishenyxm" property="shishenyxm" jdbcType="VARCHAR"/>
        <result column="chushenybm" property="chushenybm" jdbcType="VARCHAR"/>
        <result column="shishenybm" property="shishenybm" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByRequestID" resultMap="FaBzggGgajztjkResultMap" parameterType="java.lang.String">
        SELECT *
        FROM FA_BZGG_GGAJZTJK
        WHERE SHENQINGH = #{requestID}
    </select>

    <update id="updateStatusByRequestID" parameterType="java.lang.String">
        UPDATE FA_BZGG_GGAJZTJK JK
           SET JK.GONGGAOZT = #{status}, JK.GONGGAOR = #{pubDate}
         WHERE JK.SHENQINGH = #{requestID}
    </update>

</mapper>