<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gonggao.FaBzggZsglbDao">
    <resultMap id="FaBzggZsglbResultMap" type="com.gwssi.eoms.model.domain.produce.gonggao.FaBzggZsglb">
        <id column="fa_bzgg_zsglb_id" property="fa_bzgg_zsglb_id" jdbcType="DOUBLE"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="zhuanlilx" property="zhuanlilx" jdbcType="VARCHAR"/>
        <result column="juanqih" property="juanqih" jdbcType="VARCHAR"/>
        <result column="gonggaor" property="gonggaor" jdbcType="VARCHAR"/>
        <result column="bandengfwr" property="bandengfwr" jdbcType="VARCHAR"/>
        <result column="niandengyfjnr" property="niandengyfjnr" jdbcType="VARCHAR"/>
        <result column="fenleiwcbj" property="fenleiwcbj" jdbcType="VARCHAR"/>
        <result column="shifouwtaj" property="shifouwtaj" jdbcType="VARCHAR"/>
        <result column="zhuanzhengc" property="zhuanzhengc" jdbcType="VARCHAR"/>
        <result column="jiaoduizt" property="jiaoduizt" jdbcType="VARCHAR"/>
        <result column="tidangczy" property="tidangczy" jdbcType="VARCHAR"/>
        <result column="caozuosj" property="caozuosj" jdbcType="VARCHAR"/>
        <result column="zhengshuh" property="zhengshuh" jdbcType="VARCHAR"/>
        <result column="fazhengr" property="fazhengr" jdbcType="VARCHAR"/>
        <result column="zhuanlih" property="zhuanlih" jdbcType="VARCHAR"/>
        <result column="zhengshuysmjid" property="zhengshuysmjid" jdbcType="VARCHAR"/>
        <result column="zhengshuyys" property="zhengshuyys" jdbcType="DOUBLE"/>
        <result column="wenjiancflj" property="wenjiancflj" jdbcType="VARCHAR"/>
        <result column="tuxingwjcflj" property="tuxingwjcflj" jdbcType="VARCHAR"/>
        <result column="zhengshuyscsj" property="zhengshuyscsj" jdbcType="VARCHAR"/>
        <result column="fawenxlh" property="fawenxlh" jdbcType="VARCHAR"/>
        <result column="dailijgdm" property="dailijgdm" jdbcType="VARCHAR"/>
        <result column="shoujianrxm" property="shoujianrxm" jdbcType="VARCHAR"/>
        <result column="shoujianrdz" property="shoujianrdz" jdbcType="VARCHAR"/>
        <result column="shoujianryzbm" property="shoujianryzbm" jdbcType="VARCHAR"/>
        <result column="zhengshuzt" property="zhengshuzt" jdbcType="VARCHAR"/>
        <result column="shenchaydm" property="shenchaydm" jdbcType="VARCHAR"/>
        <result column="shenchabm" property="shenchabm" jdbcType="VARCHAR"/>
        <result column="shenchacsdm" property="shenchacsdm" jdbcType="VARCHAR"/>
        <result column="banzhengqrsj" property="banzhengqrsj" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
        <result column="shouniannd" property="shouniannd" jdbcType="VARCHAR"/>
        <result column="fa_bzgg_ggajztjk_id" property="fa_bzgg_ggajztjk_id" jdbcType="DOUBLE"/>
        <result column="shenqingr" property="shenqingr" jdbcType="VARCHAR"/>
        <result column="gonggaozt" property="gonggaozt" jdbcType="VARCHAR"/>
        <result column="yuguggr" property="yuguggr" jdbcType="VARCHAR"/>
        <result column="jinruggsj" property="jinruggsj" jdbcType="VARCHAR"/>
        <result column="shifoutgjy" property="shifoutgjy" jdbcType="VARCHAR"/>
        <result column="shujuxgbj" property="shujuxgbj" jdbcType="VARCHAR"/>
        <result column="zhuluxmtqsj" property="zhuluxmtqsj" jdbcType="VARCHAR"/>
        <result column="gongbaodtqbj" property="gongbaodtqbj" jdbcType="VARCHAR"/>
        <result column="zhuluxmtqbj" property="zhuluxmtqbj" jdbcType="VARCHAR"/>
        <result column="gongbaodtqwcsj" property="gongbaodtqwcsj" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByRequestID" resultMap="FaBzggZsglbResultMap" parameterType="java.lang.String">
        SELECT FA_BZGG_ZSGLB_ID, SHENQINGH, ZHUANLILX, JUANQIH, GONGGAOR, BANDENGFWR, NIANDENGYFJNR, FENLEIWCBJ,
               SHIFOUWTAJ, ZHUANZHENGC, JIAODUIZT, TIDANGCZY, CAOZUOSJ, ZHENGSHUH, FAZHENGR, ZHUANLIH, ZHENGSHUYSMJID,
               ZHENGSHUYYS, WENJIANCFLJ, TUXINGWJCFLJ, ZHENGSHUYSCSJ, FAWENXLH, DAILIJGDM, SHOUJIANRXM, SHOUJIANRDZ,
               SHOUJIANRYZBM, ZHENGSHUZT, SHENCHAYDM, SHENCHABM, SHENCHACSDM, BANZHENGQRSJ, REGNAME, REGTIME, MODNAME,
               MODTIME, SHOUNIANND, FA_BZGG_GGAJZTJK_ID, SHENQINGR, GONGGAOZT, YUGUGGR, JINRUGGSJ, SHIFOUTGJY, SHUJUXGBJ,
               ZHULUXMTQSJ, GONGBAODTQBJ, ZHULUXMTQBJ, GONGBAODTQWCSJ
          FROM FA_BZGG_ZSGLB
         WHERE SHENQINGH = #{requestID}
    </select>

    <insert id="insertOneByRequestID" parameterType="java.lang.String">
        INSERT INTO FA_BZGG_ZSGLB
          SELECT S_FA_BZGG_ZSGLB.NEXTVAL,
                 A1.SHENQINGH,
                 A1.ZHUANLILX,
                 NULL,
                 A1.GONGGAOR,
                 A1.BANDENGFWR,
                 A1.NIANDENGYFJNR,
                 A1.FENLEIWCBJ,
                 NULL,
                 '2',
                 '2',
                 NULL,
                 A7.CAOZUOSJ,
                 A7.ZHENGSHUH,
                 '',
                 A7.ZHUANLIH,
                 NULL,
                 NULL,
                 A7.WENJIANCFLJ,
                 NULL,
                 A7.ZHENGSHUYSCSJ,
                 A7.FAWENXLH,
                 A7.DAILIJGDM,
                 A7.SHOUJIANRXM,
                 A7.SHOUJIANRDZ,
                 A7.SHOUJIANRYZBM,
                 '00',
                 A7.SHENCHAYDM,
                 A7.SHENCHABM,
                 A7.SHENCHACSDM,
                 A7.BANZHENGQRSJ,
                 A1.REGNAME,
                 A1.REGTIME,
                 A1.MODNAME,
                 A1.MODTIME,
                 A7.SHOUNIANND,
                 A1.FA_BZGG_GGAJZTJK_ID,
                 A1.SHENQINGR,
                 A1.GONGGAOZT,
                 A1.YUGUGGR,
                 A1.JINRUGGCSJ,
                 '0',
                 NULL,
                 A3.ZHULUXMTQWCSJ,
                 A3.GONGBAODTQBJ,
                 A3.ZHULUXMTQBJ,
                 A3.GONGBAODTQWCSJ
            FROM FA_BZGG_GGAJZTJK A1
            LEFT JOIN FA_BZGG_BFZSB A7
              ON A1.SHENQINGH = A7.SHENQINGH
            LEFT JOIN FA_BZGG_CBJYB_LS_2 A3
              ON A1.SHENQINGH = A3.SHENQINGH
           WHERE A1.SHENQINGH = #{requestID}
    </insert>

    <update id="updatePubStatusAndPubDateAndNoticeStatusByRequestID" parameterType="java.lang.String">
        UPDATE FA_BZGG_ZSGLB B
           SET B.GONGGAOZT = #{pubStatus}, B.GONGGAOR = #{pubDate}, B.ZHENGSHUZT = #{noticeStatus}
         WHERE B.SHENQINGH = #{requestID}
    </update>

    <delete id="deleteByRequestID" parameterType="java.lang.String">
        DELETE FROM FA_BZGG_ZSGLB WHERE SHENQINGH = #{requestID}
    </delete>

</mapper>