<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gonggao.FaBzggCwajclbDao">
    <resultMap id="FaBzggCwajclbResultMap" type="com.gwssi.eoms.model.domain.produce.gonggao.FaBzggCwajclb">
        <id column="fa_bzgg_cwajclb_id" property="fa_bzgg_cwajclb_id" jdbcType="DOUBLE"/>
        <result column="fa_bzgg_ggajztjk_id" property="fa_bzgg_ggajztjk_id" jdbcType="DOUBLE"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="shenqingr" property="shenqingr" jdbcType="VARCHAR"/>
        <result column="zhuanlilx" property="zhuanlilx" jdbcType="VARCHAR"/>
        <result column="gonggaozt" property="gonggaozt" jdbcType="VARCHAR"/>
        <result column="zhufenleih" property="zhufenleih" jdbcType="VARCHAR"/>
        <result column="yuguggr" property="yuguggr" jdbcType="VARCHAR"/>
        <result column="gonggaor" property="gonggaor" jdbcType="VARCHAR"/>
        <result column="bandengfwr" property="bandengfwr" jdbcType="VARCHAR"/>
        <result column="jinrujycsj" property="jinrujycsj" jdbcType="VARCHAR"/>
        <result column="jinruggsj" property="jinruggsj" jdbcType="VARCHAR"/>
        <result column="cuowujrsj" property="cuowujrsj" jdbcType="VARCHAR"/>
        <result column="cuowumx" property="cuowumx" jdbcType="VARCHAR"/>
        <result column="cuowuzl" property="cuowuzl" jdbcType="VARCHAR"/>
        <result column="chushenyxm" property="chushenyxm" jdbcType="VARCHAR"/>
        <result column="shishenyxm" property="shishenyxm" jdbcType="VARCHAR"/>
        <result column="chushenybm" property="chushenybm" jdbcType="VARCHAR"/>
        <result column="shushenybm" property="shushenybm" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
        <result column="chulizt" property="chulizt" jdbcType="VARCHAR"/>
        <result column="renlingr" property="renlingr" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getByShenqingh" resultMap="FaBzggCwajclbResultMap" parameterType="java.lang.String">
        select *
        from fa_bzgg_cwajclb
        where shenqingh = #{shenqingh}
    </select>

</mapper>