<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gwssi.eoms.dao.produce.gonggao.FaBzggCwajclbDao">
    <resultMap id="FaBzggCwajclbResultMap" type="com.gwssi.eoms.model.domain.produce.gonggao.FaBzggCwajclb">
        <id column="fa_bzgg_cwajclb_id" property="fa_bzgg_cwajclb_id" jdbcType="DOUBLE"/>
        <result column="fa_bzgg_ggajztjk_id" property="fa_bzgg_ggajztjk_id" jdbcType="DOUBLE"/>
        <result column="shenqingh" property="shenqingh" jdbcType="VARCHAR"/>
        <result column="shenqingr" property="shenqingr" jdbcType="VARCHAR"/>
        <result column="zhuanlilx" property="zhuanlilx" jdbcType="VARCHAR"/>
        <result column="gonggaozt" property="gonggaozt" jdbcType="VARCHAR"/>
        <result column="zhufenleih" property="zhufenleih" jdbcType="VARCHAR"/>
        <result column="yuguggr" property="yuguggr" jdbcType="VARCHAR"/>
        <result column="gonggaor" property="gonggaor" jdbcType="VARCHAR"/>
        <result column="bandengfwr" property="bandengfwr" jdbcType="VARCHAR"/>
        <result column="jinrujycsj" property="jinrujycsj" jdbcType="VARCHAR"/>
        <result column="jinruggsj" property="jinruggsj" jdbcType="VARCHAR"/>
        <result column="cuowujrsj" property="cuowujrsj" jdbcType="VARCHAR"/>
        <result column="cuowumx" property="cuowumx" jdbcType="VARCHAR"/>
        <result column="cuowuzl" property="cuowuzl" jdbcType="VARCHAR"/>
        <result column="chushenyxm" property="chushenyxm" jdbcType="VARCHAR"/>
        <result column="shishenyxm" property="shishenyxm" jdbcType="VARCHAR"/>
        <result column="chushenybm" property="chushenybm" jdbcType="VARCHAR"/>
        <result column="shushenybm" property="shushenybm" jdbcType="VARCHAR"/>
        <result column="regname" property="regname" jdbcType="VARCHAR"/>
        <result column="regtime" property="regtime" jdbcType="VARCHAR"/>
        <result column="modname" property="modname" jdbcType="VARCHAR"/>
        <result column="modtime" property="modtime" jdbcType="VARCHAR"/>
        <result column="chulizt" property="chulizt" jdbcType="VARCHAR"/>
        <result column="renlingr" property="renlingr" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="listByRequestID" resultMap="FaBzggCwajclbResultMap" parameterType="java.lang.String">
        SELECT FA_BZGG_CWAJCLB_ID, FA_BZGG_GGAJZTJK_ID, SHENQINGH, SHENQINGR, ZHUANLILX, GONGGAOZT, ZHUFENLEIH,
               YUGUGGR, GONGGAOR, BANDENGFWR, JINRUJYCSJ, JINRUGGSJ, CUOWUJRSJ, CUOWUMX, CUOWUZL, CHUSHENYXM,
               SHISHENYXM, CHUSHENYBM, SHUSHENYBM, REGNAME, REGTIME, MODNAME, MODTIME, CHULIZT, RENLINGR
          FROM FA_BZGG_CWAJCLB
         WHERE SHENQINGH = #{requestID}
    </select>

    <!--公告校验池异常总数-->
    <select id="getAnnouncementCheckPoolErrorCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
          FROM FA_BZGG_CWAJCLB CW
         WHERE CW.CUOWUZL IN ('1', '2', '3', '4')
           AND CW.GONGGAOZT IN ('4', '5')
    </select>

    <!--公告池异常总数-->
    <select id="getAnnouncementPoolErrorCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
          FROM FA_BZGG_CWAJCLB CW, FA_BZGG_ZSGLB ZSGL
         WHERE ZSGL.SHENQINGH = CW.SHENQINGH
           AND CW.CUOWUZL IN ('5', '7', '6')
           AND ZSGL.ZHENGSHUZT != 06
    </select>

    <delete id="deleteByRequestID" parameterType="java.lang.String">
        DELETE FROM FA_BZGG_CWAJCLB WHERE SHENQINGH = #{requestID}
    </delete>

    <insert id="insertOneByRequestID" parameterType="java.lang.String">
        INSERT INTO FA_BZGG_CWAJCLB
          SELECT FA_BZGG_CWAJCLB_SEQ.NEXTVAL,
                 A1.FA_BZGG_GGAJZTJK_ID,
                 A1.SHENQINGH,
                 A1.SHENQINGR,
                 A1.ZHUANLILX,
                 A1.GONGGAOZT,
                 A1.ZHUFENLEIH,
                 A1.YUGUGGR,
                 A1.GONGGAOR,
                 A1.BANDENGFWR,
                 A1.JINRUJYCSJ,
                 A1.JINRUGGCSJ,
                 TO_CHAR(SYSDATE, 'YYYYMMDD'),
                 #{content},
                 #{errorType},
                 A1.CHUSHENYXM,
                 A1.SHISHENYXM,
                 A1.CHUSHENYBM,
                 A1.SHISHENYBM,
                 A1.REGNAME,
                 A1.REGTIME,
                 A1.MODNAME,
                 A1.MODTIME,
                 NULL,
                 NULL
            FROM FA_BZGG_GGAJZTJK A1
           WHERE A1.SHENQINGH = #{requestID}
    </insert>

    <select id="listAnnouncementPoolErrorRequestID" resultType="java.lang.String">
        SELECT CW.SHENQINGH
          FROM FA_BZGG_CWAJCLB CW, FA_BZGG_ZSGLB ZSGL
         WHERE ZSGL.SHENQINGH = CW.SHENQINGH
           AND CW.CUOWUZL IN ('5', '7', '6')
           AND ZSGL.ZHENGSHUZT != 06
    </select>

    <select id="getAnnouncementCheckNotPassCountByError" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(1)
          FROM FA_BZGG_CWAJCLB CW
         WHERE CW.CUOWUZL IN ('1', '2', '3', '4')
           AND CW.GONGGAOZT IN ('6', '7')
           AND CW.CUOWUMX = #{error}
    </select>

</mapper>